<%= form_with(model: scripture) do |form| %>
  <% if scripture.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(scripture.errors.count, "error") %> prohibited this scripture from being saved:</h2>

      <ul>
        <% scripture.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :book, style: "display: block" %>
    <%= form.text_field :book %>
  </div>

  <div>
    <%= form.label :chapter, style: "display: block" %>
    <%= form.text_field :chapter %>
  </div>

  <div>
    <%= form.label :verse, style: "display: block" %>
    <%= form.text_field :verse %>
  </div>

  <div>
    <%= form.label :word, style: "display: block" %>
    <%= form.text_field :word %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
