<% if params[:query] %>
  <% if Scripture::BOOKS.include?(params[:query]) %>
    <button onClick="history.go(0);" autofocus><%= "Random from #{params[:query][1..-1]}"%></button>
  <% end %>
<% end %>
<%= button_to "Next Random Scripture", root_url, method: :get, autofocus: true%>

<div id="scriptures">
  <% @scriptures.each do |scripture| %>
    <%= render scripture %>
  <% end %>
</div>
<hr>
<%= form_with(url: scriptures_path, method: "GET") do |form| %>
  <%= form.label :query, "Search by:" %>
  <%= form.text_field :query, autofocus: true %>
  <%= form.submit 'Search', name: nil %>
<% end %>

<div>
  <% Scripture::BOOKS.each do |s| %>
    <%= link_to s[1..-1], "#{root_url}scriptures?query=#{s}" %>
  <% end %>
</div>
