<% if params[:query] %>
  <% if Scripture::SEARCHBOOKS.include?(params[:query]) %>
    <button onClick="history.go(0);" autofocus><%= "Random from #{params[:query][1..-1]}"%></button>
  <% end %>
<% end %>
<%= button_to "Next Random Scripture", root_url, method: :get, autofocus: true%>

<div id="scriptures">
  <% @scriptures.each do |scripture| %>
    <%= render scripture %>
  <% end %>
</div>

<%= form_with(url: scriptures_path, method: "GET") do |form| %>
  <%= form.label :query, "Search by:" %>
  <%= form.text_field :query, autofocus: true %>
  <%= form.submit 'Search', name: nil %>
<% end %>

<div>
  Random scripture from:
  <a href="/scriptures?query=SGenesis">Genesis</a>
  <a href="/scriptures?query=SExodus">Exodus</a>
  <a href="/scriptures?query=SLeviticus">Leviticus</a>
  <a href="/scriptures?query=SNumbers">Numbers</a>
  <a href="/scriptures?query=SDeuteronomy">Deuteronomy</a>
  <a href="/scriptures?query=SJoshua">Joshua</a>
  <a href="/scriptures?query=SJudges">Judges</a>
  <a href="/scriptures?query=SRuth">Ruth</a>
  <a href="/scriptures?query=S1 Samuel">1 Samuel</a>
  <a href="/scriptures?query=S2 Samuel">2 Samuel</a>
  <a href="/scriptures?query=S1 Kings">1 Kings</a>
  <a href="/scriptures?query=S2 Kings">2 Kings</a>
  <a href="/scriptures?query=S1 Chronicles">1 Chronicles</a>
  <a href="/scriptures?query=S2 Chronicles">2 Chronicles</a>
  <a href="/scriptures?query=SEzra">Ezra</a>
  <a href="/scriptures?query=SNehemiah">Nehemiah</a>
  <a href="/scriptures?query=SEsther">Esther</a>
  <a href="/scriptures?query=SJob">Job</a>
  <a href="/scriptures?query=SPsalm">Psalm</a>
  <a href="/scriptures?query=SProverbs">Proverbs</a>
  <a href="/scriptures?query=SEcclesiastes">Ecclesiastes</a>
  <a href="/scriptures?query=SSong of Solomon">Song of Solomon</a>
  <a href="/scriptures?query=SIsaiah">Isaiah</a>
  <a href="/scriptures?query=SJeremiah">Jeremiah</a>
  <a href="/scriptures?query=SLamentations">Lamentations</a>
  <a href="/scriptures?query=SEzekiel">Ezekiel</a>
  <a href="/scriptures?query=SDaniel">Daniel</a>
  <a href="/scriptures?query=SHosea">Hosea</a>
  <a href="/scriptures?query=SJoel">Joel</a>
  <a href="/scriptures?query=SAmos">Amos</a>
  <a href="/scriptures?query=SObadiah">Obadiah</a>
  <a href="/scriptures?query=SJonah">Jonah</a>
  <a href="/scriptures?query=SMicah">Micah</a>
  <a href="/scriptures?query=SNahum">Nahum</a>
  <a href="/scriptures?query=SHabakkuk">Habakkuk</a>
  <a href="/scriptures?query=SZephaniah">Zephaniah</a>
  <a href="/scriptures?query=SHaggai">Haggai</a>
  <a href="/scriptures?query=SZechariah">Zechariah</a>
  <a href="/scriptures?query=SMalachi">Malachi</a>
  <a href="/scriptures?query=SMatthew">Matthew</a>
  <a href="/scriptures?query=SMark">Mark</a>
  <a href="/scriptures?query=SLuke">Luke</a>
  <a href="/scriptures?query=SJohn">John</a>
  <a href="/scriptures?query=SActs">Acts</a>
  <a href="/scriptures?query=SRomans">Romans</a>
  <a href="/scriptures?query=S1 Corinthians">1 Corinthians</a>
  <a href="/scriptures?query=S2 Corinthians">2 Corinthians</a>
  <a href="/scriptures?query=SGalatians">Galatians</a>
  <a href="/scriptures?query=SEphesians">Ephesians</a>
  <a href="/scriptures?query=SPhilippians">Philippians</a>
  <a href="/scriptures?query=SColossians">Colossians</a>
  <a href="/scriptures?query=S1 Thessalonians">1 Thessalonians</a>
  <a href="/scriptures?query=S2 Thessalonians">2 Thessalonians</a>
  <a href="/scriptures?query=S1 Timothy">1 Timothy</a>
  <a href="/scriptures?query=S2 Timothy">2 Timothy</a>
  <a href="/scriptures?query=STitus">Titus</a>
  <a href="/scriptures?query=SPhilemon">Philemon</a>
  <a href="/scriptures?query=SHebrews">Hebrews</a>
  <a href="/scriptures?query=SJames">James</a>
  <a href="/scriptures?query=S1 Peter">1 Peter</a>
  <a href="/scriptures?query=S2 Peter">2 Peter</a>
  <a href="/scriptures?query=S1 John">1 John</a>
  <a href="/scriptures?query=S2 John">2 John</a>
  <a href="/scriptures?query=S3 John">3 John</a>
  <a href="/scriptures?query=SJude">Jude</a>
  <a href="/scriptures?query=SRevelation">Revelation</a>
</div>
<br>
<div>
  Go to: 
  <a href="/scriptures/1">Gen</a>
  <a href="/scriptures/1534">Ex</a>
  <a href="/scriptures/2747">Lev</a>
  <a href="/scriptures/3606">Num</a>
  <a href="/scriptures/4894">Deut</a>
  <a href="/scriptures/5853">Josh</a>
  <a href="/scriptures/6511">Judg</a>
  <a href="/scriptures/7129">Ruth</a>
  <a href="/scriptures/7214">1 Sam</a>
  <a href="/scriptures/8024">2 Sam</a>
  <a href="/scriptures/8719">1 Kin</a>
  <a href="/scriptures/9535">2 Kin</a>
  <a href="/scriptures/10254">1 Chr</a>
  <a href="/scriptures/11196">2 Chr</a>
  <a href="/scriptures/12018">Ezra</a>
  <a href="/scriptures/12298">Neh</a>
  <a href="/scriptures/12704">Esth</a>
  <a href="/scriptures/12871">Job</a>
  <a href="/scriptures/13941">Ps</a>
  <a href="/scriptures/16402">Prov</a>
  <a href="/scriptures/17317">Eccl</a>
  <a href="/scriptures/17539">Song</a>
  <a href="/scriptures/17656">Is</a>
  <a href="/scriptures/18945">Jer</a>
  <a href="/scriptures/20309">Lam</a>
  <a href="/scriptures/20463">Ezek</a>
  <a href="/scriptures/21736">Dan</a>
  <a href="/scriptures/22093">Hos</a>
  <a href="/scriptures/22290">Joel</a>
  <a href="/scriptures/22363">Amos</a>
  <a href="/scriptures/22509">Obad</a>
  <a href="/scriptures/22530">Jon</a>
  <a href="/scriptures/22578">Mic</a>
  <a href="/scriptures/22683">Nah</a>
  <a href="/scriptures/22730">Hab</a>
  <a href="/scriptures/22786">Zeph</a>
  <a href="/scriptures/22839">Hag</a>
  <a href="/scriptures/22877">Zech</a>
  <a href="/scriptures/23088">Mal</a>
  <a href="/scriptures/23143">Matt</a>
  <a href="/scriptures/24213">Mark</a>
  <a href="/scriptures/24891">Luke</a>
  <a href="/scriptures/26042">John</a>
  <a href="/scriptures/26921">Acts</a>
  <a href="/scriptures/27928">Rom</a>
  <a href="/scriptures/28361">1 Cor</a>
  <a href="/scriptures/28798">2 Cor</a>
  <a href="/scriptures/29055">Gal</a>
  <a href="/scriptures/29204">Eph</a>
  <a href="/scriptures/29359">Phil</a>
  <a href="/scriptures/29463">Col</a>
  <a href="/scriptures/29558">1 Thess</a>
  <a href="/scriptures/29647">2 Thess</a>
  <a href="/scriptures/29694">1 Tim</a>
  <a href="/scriptures/29807">2 Tim</a>
  <a href="/scriptures/29890">Titus</a>
  <a href="/scriptures/29936">Philem</a>
  <a href="/scriptures/29961">Heb</a>
  <a href="/scriptures/30264">James</a>
  <a href="/scriptures/30372">1 Pet</a>
  <a href="/scriptures/30477">2 Pet</a>
  <a href="/scriptures/30538">1 John</a>
  <a href="/scriptures/30643">2 John</a>
  <a href="/scriptures/30656">3 John</a>
  <a href="/scriptures/30670">Jude</a>
  <a href="/scriptures/30695">Rev</a>
</div>
