<%= button_to "Next Scripture", root_url, method: :get, autofocus: true%>
<button onClick="history.go(0);">REPEAT</button>

<div id="scriptures">
  <% @scriptures.each do |scripture| %>
    <%= render scripture %>
  <% end %>
</div>
<hr>
<%= form_with(url: scriptures_path, method: "GET") do |form| %>
  <%= form.label :query, "Search by:" %>
  <%= form.text_field :query, autofocus: true %>
  <%= form.submit 'Search', name: nil %>
<% end %>

<div>
  <% Scripture::BOOKS.each do |s| %>
    <%= link_to s[1..-1], "#{root_url}scriptures?query=#{s}" %>
  <% end %>
</div>
