<div>
  <%= link_to "Home", root_url %>
  <br>
  <%= link_to "#{@scripture.book}", (root_url + "/scriptures?query=S#{@scripture.book}") %>
  <%# @scripture.chapters_in_book_of_scripture.each do |l| %>
  <% Scripture::NAV[@scripture.book].each do |l| %>
    <% unless @scripture.chapter == l[0] %>
      <%= link_to l[0], scripture_path(l[1]) %>
    <% else %>
      <strong>
        <%= l[0] %>
      </strong>
    <% end %>
  <% end %>
</div>
<%= render @scripture %>

<p>
  <% if @scripture.previous_chapters_end %>
    <%= link_to "#{@scripture.previous_chapters_end[1]}", scripture_path(@scripture.previous_chapters_end[0]), {:style=>"font-size:15px;"} %>
  <% end %>
  <strong>
    <%= "| #{@scripture.book}:#{@scripture.chapter} |" %>
  </strong>
  <% if @scripture.next_chapters_start %>
    <%= link_to "#{@scripture.next_chapters_start[1]}", scripture_path(@scripture.next_chapters_start[0]), {:style=>"font-size:15px;"} %>
  <% end %>
  <br><br>
  <% @scriptures.each do |s| %>
    <span>
      <%=s.verse%>
    </span>
    <%=s.word%>
    <br>
  <% end %>
  <br>
  <% if @scripture.previous_chapters_end %>
    <%= link_to "#{@scripture.previous_chapters_end[1]}", scripture_path(@scripture.previous_chapters_end[0]), {:style=>"font-size:15px;"} %>
  <% end %>
  <strong>
    <%= "| #{@scripture.book}:#{@scripture.chapter} |" %>
  </strong>
  <% if @scripture.next_chapters_start %>
    <%= link_to "#{@scripture.next_chapters_start[1]}", scripture_path(@scripture.next_chapters_start[0]), {:style=>"font-size:15px;"} %>
  <% end %>
</p>